.account{
    display: flex;  
    justify-content:center;
    width: 100%;
    gap: 10px;
    margin-top: 20px;
    padding-left:10px;
    .info-user{
        width: 100%;
        display:grid;
        grid-template-columns: 70% 30%;
        min-height: 400px;
        gap: 20px; 
        padding-left: 10px;
        justify-content: center;
        justify-content: center;
        align-items: center;;
       
        &>div:first-child{
            width: 80%;
            margin: 0px auto;
        }
        
       
    }

    .input-fields {
     width: 100%
    
    }

    .input-buttons{
        text-align: center;
        button{
            margin: 10px 10px;
            text-align: center;
           
        }
    }
}