
.fighters{
    display: flex;  
    justify-content:center;
    align-items: center; 
    width: 100%;
    gap: 20px;
    min-height: 50px;
    border-radius: 20px;
    background: rgb(248,0,36);
    background: linear-gradient(90deg, rgba(248,0,36,1) 0%, rgb(239, 62, 46) 100%);
    
    svg{
        font-size: 1rem;
    }
    svg:first-child{
        font-size: 2rem;
        color: rgb(99, 0, 0);
    }
    h2{
        font-size: 1.3rem;
        text-align: center;
        font-weight: 300;
    }
    .rotate-icon {
        transform: rotate(0deg);
        transition: 0.8s;
        
    }

    &:hover{
        cursor: pointer;
        .rotate-icon{
            transform: rotate(35deg);
        }
    }
    
}

.show-nfts{
    display: flex;  
    max-width: 100%;
    overflow-x: auto;
    padding: 20px;
   
}

