
  @-webkit-keyframes opacity {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }
  @-moz-keyframes opacity {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }
  @keyframes opacity {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }

  
  
  @keyframes color-change {
    0% { color: rgb(248,0,36) }
    50% { color: rgb(123, 123, 123) }
    100% { color: rgb(248,0,36)}
  }
  .octagon-cage{
    font-size: 5rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: opacity 2s forwards;
    transform: translate(-50%, -50%);
    animation: color-change 5s infinite;
    font-family: 'VIC-BOLD';
  }
  
    .fight-display{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        font-family: 'VIC-Light';
        margin-top: 50px;
        .results{
          text-align: center;
          font-size: 4.5rem;
          padding: 0px 0px 20px 0px;
          margin-bottom: 20px;
        }
        img{
            max-width: 80px;
            border-radius: 5px;
        }

    .fight-sequence{
        position: relative;
        padding: 10px 50px;
        div{
            float: left;
        }
        -webkit-animation: opacity 5s forwards;
        -moz-animation: opacity 5s forwards;
        animation: opacity 5s forwards;
       
    }
    .fight-sequence-2{
        position: relative;
        padding: 10px 50px;
        -webkit-animation: opacity 5s forwards;
        -moz-animation: opacity 5s forwards;
        animation: opacity 5s forwards;
       
        div{
            float: right;
        }
    }
    
    .sequence{
        background: rgba(255, 255, 255, 0.1);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.7px);
        -webkit-backdrop-filter: blur(9.7px);
        padding: 20px;
        margin: 5px 10px;
        font-size: 1.5rem;
       
        h1{
            padding: 20px 0px;
        }
    }

}

     
