
.fighters{
    display: flex;  
    justify-content:center;
    align-items: center; 
    width: 100%;
    gap: 20px;
    min-height: 50px;
    border-radius: 20px;
    background: rgb(248,0,36);
    background: linear-gradient(90deg, rgba(248,0,36,1) 0%, rgb(239, 62, 46) 100%);
    
    svg{
        font-size: 1rem;
    }
    svg:first-child{
        font-size: 2rem;
        color: rgb(99, 0, 0);
    }
    h2{
        font-size: 1.3rem;
        text-align: center;
        font-weight: 300;
    }
    .rotate-icon {
        transform: rotate(0deg);
        transition: 0.8s;
        
    }

    &:hover{
        cursor: pointer;
        .rotate-icon{
            transform: rotate(35deg);
        }
    }
    
}

.show-nfts{
    display: flex;  
    max-width: 100%;
    overflow: hidden;
    padding: 20px;
    .scroll-bar{
        display: flex;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            width: 10px;
            height: 7px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            background: rgb(248,0,36);
            background: linear-gradient(90deg, rgba(248,0,36,1) 0%, rgb(239, 62, 46) 100%);
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: rgb(179, 179, 179);
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: rgb(38, 38, 38);
        }
    }
    .nft-container{
        
        img{
        max-width: 180px;
        margin: 5px 10px 5px 0px;
        border-radius: 15px;
        cursor: pointer;
        &:hover{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
        }

    }

    .img-content {
        position: relative;
        
        .portfolio-overlay {
            border-radius: 15px;
            position: absolute;
            bottom: 7px;
            left: 0;
            height: 100%;
            width: 95%;
            background: linear-gradient(0deg, rgba(248,0,36,1), rgba(0, 0, 0, 0.0) 30%);
            opacity: 0;
            transition: all .3s ease;
            z-index: 10;
      }

        .portfolio-overlay-clicked {
            border-radius: 15px;
            position: absolute;
            bottom: 7px;
            left: 0;
            height: 100%;
            width: 95%;
            background: linear-gradient(0deg, rgba(248,0,36,1), rgba(0, 0, 0, 0.0) 30%);
            opacity: 0;
            transition: all .3s ease;
            opacity: 0.8;
        }
      
        cursor: pointer;
        &:hover {

            .portfolio-overlay {
                opacity: .8;
            }

        }
      }
    
}


.show-nft-info{
    display: flex;
    justify-content: space-between;
    padding: 1px 20px 20px 20px;
    gap: 10px;
    .glass-card-nft{
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 100px;
        max-height: 100px;
        max-width: 300px;
        background: rgba(255, 255, 255, 0.16);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.7px);
        -webkit-backdrop-filter: blur(9.7px);
        padding: 20px;
        justify-content: center;
        h1{
            font-size: 1.3rem;
            padding: 2px 0px;
        }
        h2{
            font-size: 1.1rem;
            padding: 2px 0px;
            font-weight: 300;
        }
    }

    .img-card-nft{
        background-image: url("https://res.cloudinary.com/metaverse-fc/image/upload/v1647822897/Background%20Images/Octagon_Background_drsy9i.png");
        background-position: center;
        background-repeat: no-repeat;
        width: 300px;
        background-size: cover;
        border-radius: 16px;
        cursor: pointer;
        position: relative;
        .hero-text{
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            h1{
                font-size: 1.1rem;
            }
        }
    }
}   

.past-fights{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding:0px 20px 50px 20px;
    h1{
        font-size: 2.5rem;
    }
    .fight-details{
        display: flex;
        width: 100%;
        height: 78px;
        gap: 20px;
        padding: 2px 5px;
        justify-content: space-evenly;
        align-items: center;
        h1{
            font-size: 1.5rem;
            padding: 5px 0px;
            
        }
        span{
            font-size: 1.1rem;
            font-weight: 100;
        }
    }

    .fight-lost{
        background: rgba(255, 255, 255, 0.1);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.7px);
        -webkit-backdrop-filter: blur(9.7px);
    }
    .fight-won{
        background: rgb(248,0,36);
        background: linear-gradient(90deg, rgba(248,0,36,1) 0%, rgb(239, 62, 46) 100%);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.7px);
        -webkit-backdrop-filter: blur(9.7px);
    }
    
}
