
  @-webkit-keyframes opacity {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }
  @-moz-keyframes opacity {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }
  @keyframes opacity {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }

  /* CSS */



@keyframes slide-in-left {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

@keyframes slide-in-right {
  from {
    right: -100%;
  }
  to {
    right: 0%;
  }
}

@keyframes slide-in-bottom {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0%;
  }
}


  
  
  @keyframes color-change {
    0% { color: rgba(248,0,36,1) }
    50% { color: rgb(123, 123, 123) }
    100% { color: rgb(248,0,36)}
  }


  .octagon-cage{
    font-size: 5rem;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    animation: opacity 2s forwards;
    transform: translate(-50%, -45%);
    animation: color-change 5s infinite;
    font-family: 'VIC-BOLD';
  }

  .fight-container {
      display: grid;
      grid-template-columns: 90%;
  }

  .fighter-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: fixed;
      width: 10%;
      right: 20px;
      padding: 20px;
      text-align: center;
      background: rgba(255, 255, 255, 0.16);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(9.7px);
      -webkit-backdrop-filter: blur(9.7px);
      
      .oponents{
        padding: 10px 0px;
        h1{
          font-size: 2rem;
        }
        h2{
          font-size: 1.2rem;
          font-family: 'VIC-Light';
        }
      }
      
    }

  .fighter-details-images {
      max-width: 100%;
  }

  .versus {
      padding: 10px 0;
      font-size: 1.1rem;
  }
  
    .fight-display{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;


        .results{
          text-align: center;
          font-size: 4.5rem;
          padding: 0px 0px 20px 0px;
          margin-bottom: 20px;
        }
        img{
            max-width: 80px;
            border-radius: 5px;
        }

    .fight-sequence{
        position: relative;
        padding: 10px 50px;
        opacity: 0;
        div {
            float: left;
        }
        -webkit-animation: slide-in-left 1s , opacity 3s forwards;
        -moz-animation: slide-in-left 1s , opacity 3s forwards;
        animation: slide-in-left 1s , opacity 3s forwards;
       
    }
    .fight-sequence-2 {
        position: relative;
        opacity: 0;
        padding: 10px 50px;
        -webkit-animation: slide-in-right 1s , opacity 3s forwards;
        -moz-animation: slide-in-right 1s , opacity 3s forwards;
        animation: slide-in-right 1s , opacity 3s forwards;
       
        div{
            float: right;
        }
    }

    .fighter-image {
        width: 10%;

    }
    
    .sequence{
        max-width: 80%;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.7px);
        -webkit-backdrop-filter: blur(9.7px);
        padding: 20px;
        margin: 5px 10px;
        font-size: 1.5rem;
       
        h1{
            padding: 20px 0px;
        }
    }  
}
     


.winner-result{
  position: relative;
  opacity: 0;
  -webkit-animation: slide-in-bottom 1s, opacity 3s forwards;
  -moz-animation: slide-in-bottom 1s, opacity 3s forwards;
  animation: slide-in-bottom 1s, opacity 3s forwards;
    .winner{
      background: linear-gradient(90deg, #f80024 0%, #eb4c3e 100%);
      border-radius: 16px;
      width:90%;
      margin: 25px auto;
      padding: 20px;
      font-size: 5rem;
      text-align: center;
    }
}