@import 'reset-css';
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* body{
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #000000, #120105, #1e0207, #260307, #2e0305, #2e0305, #2e0305, #2e0305, #260307, #1e0207, #120105, #000000);   
    font-family: "Roboto", sans-serif;
}

$max-width: 1200px;

a{
    text-decoration: none;
    color: #fff;
}
.container{
    width: 100vw;
    height: 100vh;
    max-width: $max-width;
    margin: 20px auto;
    color: white;
}
    
.main-button{
    all:unset;
    background-color: rgb(23, 22, 22);
    border: 2px solid rgb(208, 22, 22);
    border-radius: 20px;
    padding: 7px 70px;
    color: #fff !important;
    cursor: pointer;
    font-size: 1.2rem;
}



.glass-card{
    width: 50%;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    text-align: center;
    padding: 60px;

    input {
        margin: 10px 0px;
    }

   
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
    font-size: 1rem;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
    font-size: 1rem;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
    font-size: 1rem;
}
