@import 'reset-css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'VIC-Bold';
    src: local('VIC-Bold'), url('../fonts/VIC-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'VIC-BoldItalic';
    src: local('VIC-BoldItalic'), url('../fonts/VIC-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'VIC-ExtraLight';
    src: local('VIC-ExtraLight'), url('../fonts/VIC-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'VIC-ExtraLightItalic';
    src: local('VIC-ExtraLightItalic'), url('../fonts/VIC-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'VIC-Italic';
    src: local('VIC-Italic'), url('../fonts/VIC-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'VIC-Light';
    src: local('VIC-Light'), url('../fonts/VIC-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'VIC-LightItalic';
    src: local('VIC-LightItalic'), url('../fonts/VIC-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'VIC-Medium';
    src: local('VIC-Medium'), url('../fonts/VIC-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'VIC-MediumItalic';
    src: local('VIC-MediumItalic'), url('../fonts/VIC-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'VIC-Regular';
    src: local('VIC-Regular'), url('../fonts/VIC-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'VIC-SemiBold';
    src: local('VIC-SemiBold'), url('../fonts/VIC-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'VIC-SemiBoldItalic';
    src: local('VIC-SemiBoldItalic'), url('../fonts/VIC-SemiBoldItalic.ttf') format('truetype');
}

* , html {
    font-size: 16px;
}

body {
    box-sizing: border-box !important; 
    //background-image: linear-gradient(to bottom, #000000, #120105, #1e0207, #260307, #2e0305, #2e0305, #2e0305, #2e0305, #260307, #1e0207, #120105, #000000);   
    //font-family: "Roboto", sans-serif;
    background-image: url("https://res.cloudinary.com/metaverse-fc/image/upload/v1647822524/Background%20Images/Background_anrgpu.png");
    background-position: center; /* Center the image */
    background-repeat: repeat-y; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    font-family: "VIC-Regular", sans-serif;
    width: 100%;
    height: 100vh;
   
}
$max-width: 1400px;

    a{
    text-decoration: none;
    color: #fff;
}
.container{
    width: 100%;
    height: calc(100vh - 200px);
    max-width: $max-width;
    margin: 20px auto;
    color: white;
}

.flex{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

    
.main-button{
    all:unset;
    background-color: rgb(23, 22, 22);
    border: 2px solid rgb(208, 22, 22);
    border-radius: 20px;
    min-width: 100px;
    padding: 7px 25px;
    color: #fff !important;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
}

.secondary-button{
    all:unset;
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 20px;
    padding: 7px  30px;
    color: #fff !important;
    cursor: pointer;
    font-size: 1.2rem;
}

.main-button:hover {
    background-image: linear-gradient(to right, rgb(208, 22, 22) 0%, #ef563d 100%);;
}


.glass-card{
    width: 50%;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    text-align: center;
    padding: 60px;

    input {
        margin: 10px 0px;
    }

   
}

 .overall-stats{
        display: flex;  
        justify-content:center;
        align-items: center;     
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background: rgba(45, 45, 45, 0.3);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.7px);
        -webkit-backdrop-filter: blur(9.7px);
    }

input[type="text"], input[type="password"]{
    all: unset;
    border: 1px solid rgb(215, 215, 215);
    background: transparent;
    outline: none;
    width: 100%;
    padding: 12px 10px;
    border-radius: 50px;
    font-size: 1rem;
    margin: 15px auto;
    color: #fff;
    font-weight: 300;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
    font-size: 1rem;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
    font-size: 1rem;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
    font-size: 1rem;
}
