@import '/src/styles/global.scss';

.hero-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 500px;

    >* {
        padding: 15px;
    }

    button{
        text-align: center;
        font-size: 1.2rem;
    }

}