@import url(global.scss);
.mint-nft{
    text-align: center;
    h1{
        font-size: 3.8rem;
        font-weight: 700;
        text-align: center;
        padding: 10px;
    }
    h2{
        font-size:3rem;
        text-align: center;
        padding: 10px;
        margin-bottom: 10px;
    }
    p{
       font-size: 1.3rem;
       font-weight: 300;
       padding: 10px; 
    }
    button{
        margin-top:10px;
    }

}