
.navbar {
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: center;

    .logo-mfc{
        font-size: 2.5rem;
        font-weight: 900;

        a{
            margin: 0px;
            padding: 0px;
        }
    }

    .nav-menu{
        font-size: 1.2rem;
       
    }

    a{
        text-decoration: none !important;
        margin: 0px 30px;
        color: #ffffff;
    }
}