
.navbar {
    font-family: 'VIC-SemiBold', sans-serif;
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    background: transparent;

    .logo-mfc{
        font-size: 2.5rem;
        font-weight: 900;
        margin-left: 5%;

        img {
            max-width: 150px;
        }

        a{
            margin: 0px;
            padding: 0px;
        }
    }

    .nav-menu{
        font-size: 1.2rem;
        margin-right: 5%;

        .nav-menu-link:hover {
            background-color: #d01634;
            background-image: linear-gradient(90deg, #d01634, #ef563d);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
        }
    }

    a{
        text-decoration: none !important;
        margin: 0px 30px;
        color: #ffffff;
    }
}