
.profile-page{
    height: 80vh;
    max-width: 900px;
}


 
.display-info{
    display: grid;
    grid-template-columns: 80% 20%;
    margin-top: 20px;
    padding: 20px;
    h1{ 
        font-size:2rem;
        font-weight: 500;
    }
    p{  
        padding: 10px 0px;
        font-size: 1.5rem;
        font-weight: 100;
    }
    svg{
        
        font-size:2rem;
        font-weight: 700;
        float: right;
    }
}

 
.display-stats{
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 20px;
    padding: 0px 15px;
    gap: 20px;
    .tournaments{
        display: flex;  
        justify-content: center;
        align-items: center; 
        width: 100%;
        gap: 20px;
        min-height: 50px;
        border-radius: 16px;
        background: rgb(248,0,36);
        background: linear-gradient(90deg, rgba(248,0,36,1) 0%, rgb(239, 62, 46) 100%);
       
        svg{
            font-size: 1rem;
        }
        svg:first-child{
            font-size: 2rem;
            color: yellow;
        }
        h2{
            font-size: 1.3rem;
            text-align: center;
            font-weight: 300;
        }
        .rotate-icon {
            transform: rotate(0deg);
            transition: 0.8s;
           
        }

        &:hover{
            cursor: pointer;
            .rotate-icon{
                transform: rotate(35deg);
            }
        }
    }
    .show-eth{
        display: flex;  
        justify-content:center;
        align-items: center;     
        gap: 10px; 
        width: 100%;
        min-height: 100px;
        border-radius: 10px;
        background: rgba(45, 45, 45, 0.3);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.7px);
        -webkit-backdrop-filter: blur(9.7px);
        svg{
            font-size: 2rem;
        }
        div{
            h2{
                text-align: center;
                font-size: 1.3rem;
                font-weight: 300;
            }
            p{
                text-align: center;
               font-weight: 100; 
            }
        }
    }
}
.grid-nfts{
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    min-height: 150px;
    max-height: 150px;
    background-size: cover;
    border-radius: 16px;
    cursor: pointer;
    position: relative;
}

.extra-info{
    display: flex;  
    justify-content:center;
    width: 100%;
    gap: 10px;
    margin-top: 20px;
    .grid-4-info{
        width: 70%;
        display:grid;
        grid-template-columns: auto auto;
        min-height: 400px;
        gap: 20px; 
        padding-left: 10px;
        padding-right: 5px;
        .my-fighters{
            background-image: url("https://res.cloudinary.com/metaverse-fc/image/upload/v1647822860/Background%20Images/My_fighters_r0nfug.png");
        }
        .lets-fight{
            background-image: url("https://res.cloudinary.com/metaverse-fc/image/upload/v1647822897/Background%20Images/Octagon_Background_drsy9i.png");
        }
        .join-discussion{
            background-image: url("https://res.cloudinary.com/metaverse-fc/image/upload/v1647822751/Background%20Images/Join_the_discussion_itgusd.png");
        }
        .mfc-media{
            background-image: url("https://res.cloudinary.com/metaverse-fc/image/upload/v1647822824/Background%20Images/MFC_Media_zmjxvw.png");
        }
        h1{
            font-size: 1.2rem;
            margin-top: 10px;
            padding: 0px 5px;
        }
        h2{
            font-size: 1rem;
            padding: 5px 5px;
            font-weight: 100;
        }
    }

    .overall-stats{
        display: flex;  
        justify-content:center;
        align-items: center;     
        width: 30%;
        border-radius: 10px;
        background: rgba(45, 45, 45, 0.3);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.7px);
        -webkit-backdrop-filter: blur(9.7px);
    }
}