.nfts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding:0px 20px 50px 20px;
    h1{
        font-size: 2.5rem;
    }
    .fight-details{
        display: flex;
        width: 100%;
        height: 78px;
        gap: 20px;
        padding: 2px 5px;
        justify-content: space-evenly;
        align-items: center;
        h1{
            font-size: 1.5rem;
            padding: 5px 0px;
            
        }
        span{
            font-size: 1.1rem;
            font-weight: 100;
        }
    }

    .nft{
        background: rgb(248,0,36);
        background: linear-gradient(90deg, rgba(248,0,36,1) 0%, rgb(239, 62, 46) 100%);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.7px);
        -webkit-backdrop-filter: blur(9.7px);
    }
    
}
