
.profile-container{
    display: grid;
    width: 100%;
    height: 100%;
    align-items: center;
    grid-template-columns: auto 1fr;

}

.sidebar{
    height: 80vh;
    transition: .5s .5s;
    width: 300px!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .nav-logo{
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        h1{
            padding: 20px 0px;
            font-size:3rem;
            font-weight: 700;
        }
    }
    .navigation{
        .nav-menu{
            font-size: 1.5rem;
            padding: 20px 20px;
            font-weight: 200;
            border-radius: 20px;
            
            svg{
                font-size:1.5rem;
                margin-right:20px;
            }
    
            &:hover{
                background: rgb(248,0,36);
                background: linear-gradient(90deg, rgba(248,0,36,1) 0%, rgb(239, 62, 46) 100%);
                cursor:pointer;
            }
        }
    }

    .bottom-nav{
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 90%;
        .mint-img-bottom{
            border-radius: 20px;
            background: rgb(248,0,36);
            background: linear-gradient(90deg, rgba(248,0,36,1) 0%, rgb(239, 62, 46) 100%);
            cursor: pointer;
            div{
                display: flex;
                flex-direction: column-reverse;
                padding: 10px;
                width: 150px;
                height: 100px;
                font-size: 1.3rem;
                font-weight: 200;
            }
            img{
                position: absolute;
                max-height: 180px;
                max-width: 150px;
                bottom: 0px;
                left: 50%;
            }
        }
    }
}

.card-navbar{
    background: rgba(45, 45, 45, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
   
}