
.profile-container{
    display: grid;
    width: 100%;
    height: 100%;
    align-items: center;
    grid-template-columns: auto 1fr;

}

.sidebar{
    font-family: "VIC-ExtraLight", sans-serif;
    height: 95vh;
    width: 300px!important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    
    .sidebar-logo-mfc{
        margin-top: 20px;
        max-width: 150px;
    }
    .navigation{
        
        .nav-menu{
            font-size: 1.5rem;
            padding: 20px 20px;
            font-weight: 200;
            border-radius: 20px;
            
            svg{
                font-size:1.5rem;
                margin-right:20px;
            }
    
            &:hover{
                background: rgb(248,0,36);
                background: linear-gradient(90deg, rgba(248,0,36,1) 0%, rgb(239, 62, 46) 100%);
                cursor:pointer;
            }
        }
    }

    .bottom-nav{
        min-width: 280px;
        max-width: 300px;
        position: relative;
        .mint-img-bottom{
            border-radius: 20px;
            background: rgb(248,0,36);
            background: linear-gradient(90deg, rgba(248,0,36,1) 0%, rgb(239, 62, 46) 100%);
            cursor: pointer;
            div{
                display: flex;
                flex-direction: column-reverse;
                padding: 10px;
                width: 150px;
                height: 100px;
                font-size: 1.3rem;
                font-weight: 200;
            }
            img{
                position: absolute;
                max-height: 180px;
                max-width: 150px;
                bottom: 0px;
                left: 50%;
            }
        }
    }
}

.card-navbar{
    background: rgba(45, 45, 45, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
   
}