
span {
    color:white
}


$side-margin: 50px;
$vertical-margin: 0px;

body{
  background-color: DarkSalmon ;
  // height: 100vh;
  overflow-y: hidden;

}

.wrapper{
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);

}

.item{
  display: flex;
  flex-direction: row-reverse;


  img {
    max-width: 55px;
  
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  &-parent{
    position: relative;
    margin-left: $side-margin;
    display: flex;
    align-items: center;
    &:after{
        position: absolute;
        content: '';
        width: calc($side-margin/2 - 11px);
        height: 2px;
        left: -11px;
        top: 50%;
        background-color: #fff;
        transform: translateX(-100%);
    }
  }
  &-childrens{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &-child{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      background-color: #fff; // color of the lines
      right: 0;
      top: 50%;
      transform: translateX(100%);
      width: 25px;
      height: 2px;
    }
    &:after{
      content: '';
      position: absolute;
      background-color: #fff;
      right: -$side-margin / 2;
      height: calc(50% + 22px) ;
      width: 2px;
      top: 50%;
    }
    &:last-child{
      &:after{
        transform: translateY(-100%);
      }
    }
    &:only-child:after{          
      display: none;          
    }
  }
}